In [20]:
import pandas as pd
df1 = pd.read_csv("assembly-segment-level-voting-data-for-all-constituencies-2024.csv",header=1)
df1.head(1)

,State/UT Name,PC NO,PC NAME,TOTAL ELECTORS IN PC,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VALID VOTES IN STATE,NOTA VOTES EVM IN AC,CANDIDATE NAME,PARTY,VOTES SECURED EVM
0,Andhra Pradesh,1.0,Araku,1557153.0,10.0,Palakonda,195673.0,33327256.0,4441.0,APPALANARASA PACHIPENTA,CPI(M),3873.0

In [21]:
df2 = pd.read_csv("candidates_with_phase.csv")
df2.rename(columns={"Constituency_No": "PC NO"}, inplace=True)
df2.head(1)

,State,PC NO,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Photo Link,Phase,Polling Date
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,Brindaban,"27th March, 2024",Accepted,V.M. KOCHUNNI,https://results.eci.gov.in/uploads4/candprofil...,1,19-04-2024

In [22]:
df3 = pd.read_csv("lok-sabha-elections-2024-results.csv")
df3.rename(columns={"PC No": "PC NO"}, inplace=True)
df3.head(1)

,State,PC NO,PC Name,Sl no,Candidate,Party,EVM Votes,Postal Votes,Total Votes,Vote Share
0,Andhra Pradesh,1,Araku (ST),1,GUMMA THANUJA RANI,Yuvajana Sramika Rythu Congress Party,471470,5535,477005,40.96

In [23]:
df4 = pd.read_csv("lok-sabha-elections-winners-and-runners-up-2024.csv")
df4.rename(columns={"PC No": "PC NO"}, inplace=True)
df4.head(1)

,State,PC NO,PC Name,Winning Candidate,Winning Party,Runner-up Canddiate,Runner-up Party,Margin Votes,Results Status
0,Andhra Pradesh,7,Amalapuram (SC),G M HARISH (BALAYOGI),Telugu Desam,RAPAKA VARAPRASADA RAO,Yuvajana Sramika Rythu Congress Party,342196,Result Declared

In [24]:
df5 = pd.read_csv("lok-sabha-elections-winners-and-runners-up-2024.csv")
df5.rename(columns={"PC No": "PC NO"}, inplace=True)
df5.head(1)

,State,PC NO,PC Name,Winning Candidate,Winning Party,Runner-up Canddiate,Runner-up Party,Margin Votes,Results Status
0,Andhra Pradesh,7,Amalapuram (SC),G M HARISH (BALAYOGI),Telugu Desam,RAPAKA VARAPRASADA RAO,Yuvajana Sramika Rythu Congress Party,342196,Result Declared

In [25]:
df6 = pd.read_csv("results_2024_winners.csv")
df6.rename(columns={"PC No": "PC NO"}, inplace=True)
df6.head(1)

,State,PC NO,PC Name,Winning Candidate,Winning Party,Runner-up Canddiate,Runner-up Party,Margin Votes,Results Status
0,Andhra Pradesh,7,Amalapuram (SC),G M HARISH (BALAYOGI),Telugu Desam,RAPAKA VARAPRASADA RAO,Yuvajana Sramika Rythu Congress Party,342196,Result Declared

In [26]:
df7 = pd.read_csv("results_2024.csv")
df7.rename(columns={"PC No": "PC NO"}, inplace=True)
df7.head(1)

,State,PC NO,PC Name,Sl no,Candidate,Party,EVM Votes,Postal Votes,Total Votes,Vote Share
0,Andhra Pradesh,1,Araku (ST),1,GUMMA THANUJA RANI,Yuvajana Sramika Rythu Congress Party,471470,5535,477005,40.96

In [27]:
print("Coumns in df1:",df1.columns,'\n',"Coumns in df2:",
df2.columns,'\n',"Coumns in df3:",
df3.columns,'\n',"Coumns in df4:",
df4.columns,'\n',"Coumns in df5:",
df5.columns,'\n',"Coumns in df6:",
df6.columns,'\n',"Coumns in df7:",
df7.columns)

Coumns in df1: Index(['State/UT Name', 'PC NO', 'PC NAME', 'TOTAL ELECTORS IN PC', 'AC NO',
       'AC NAME', 'TOTAL ELECTORS IN AC', 'TOTAL VALID VOTES IN STATE',
       'NOTA VOTES EVM IN AC', 'CANDIDATE NAME', 'PARTY', 'VOTES SECURED EVM'],
      dtype='object')
 Coumns in df2: Index(['State', 'PC NO', 'Constituency', 'Party', 'Candidate Name', 'Gender',
       'Age', 'Address', 'Application Date', 'Application Status',
       'Father/Husband's Name', 'Photo Link', 'Phase', 'Polling Date'],
      dtype='object')
 Coumns in df3: Index(['State', 'PC NO', 'PC Name', 'Sl no', 'Candidate', 'Party', 'EVM Votes',
       'Postal Votes', 'Total Votes', 'Vote Share'],
      dtype='object')
 Coumns in df4: Index(['State', 'PC NO', 'PC Name', 'Winning Candidate', 'Winning Party',
       'Runner-up Canddiate', 'Runner-up Party', 'Margin Votes',
       'Results Status'],
      dtype='object')
 Coumns in df5: Index(['State', 'PC NO', 'PC Name', 'Winning Candidate', 'Winning Party',
       'Runner-up Canddiate', 'Runner-up Party', 'Margin Votes',
       'Results Status'],
      dtype='object')
 Coumns in df6: Index(['State', 'PC NO', 'PC Name', 'Winning Candidate', 'Winning Party',
       'Runner-up Canddiate', 'Runner-up Party', 'Margin Votes',
       'Results Status'],
      dtype='object')
 Coumns in df7: Index(['State', 'PC NO', 'PC Name', 'Sl no', 'Candidate', 'Party', 'EVM Votes',
       'Postal Votes', 'Total Votes', 'Vote Share'],
      dtype='object')

In [28]:
print("Number of rows in df1:", df1.shape[0])
print("Number of rows in df2:", df2.shape[0])
print("Number of rows in df3:", df3.shape[0])
print("Number of rows in df4:", df4.shape[0])
print("Number of rows in df5:", df5.shape[0])
print("Number of rows in df6:", df6.shape[0])
print("Number of rows in df7:", df7.shape[0])

Number of rows in df1: 61734
Number of rows in df2: 8441
Number of rows in df3: 8902
Number of rows in df4: 543
Number of rows in df5: 543
Number of rows in df6: 543
Number of rows in df7: 8902